@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

*,
*:after,
*:before {
	box-sizing: border-box;
}

:root {
	--color-text-primary: #1c2a38;
	--color-text-secondary: #8A8F98;
	--color-text-alert: #d72641;
	--color-text-icon: #dbdade;
	--color-bg-primary: rgb(186, 255, 74);
	--color-bg-secondary: rgb(191, 255, 108);
	--color-bg-alert: #fdeaec;
	--color-theme-primary: #623ce6;
}

button,
input,
select,
textarea {
	font: inherit;
}

img {
	display: block;
}

strong {
	font-weight: 600;
}

body {
	font-family: "Inter", sans-serif;
	color: var(--color-text-primary);
	background-color: var(--color-bg-secondary);
}

.match {
    background-color: var(--color-bg-primary);
    display: flex;
    flex-direction: column;
    max-width: 500px;
    max-height: 195px;
    border-radius: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#test{
display: block;
background-color: red;
width: 50%;
height: 50%;
}

#circ{
display: block;
background-color: blue;
width: 50%;
height: 50%;
border-radius: 40px;
}


.match-header {
	display: flex;
	border-bottom: 2px solid rgba(#303030, 0.1);
	padding: 16px;
}

.match-status {
	background-color: var(--color-bg-alert);
	color: var(--color-text-alert);
	padding: 8px 12px;
	border-radius: 6px;
	font-weight: 600;
	font-size: 14px;
	display: flex;
	align-items: center;
	line-height: 1;
	margin-right: auto;
	&:before {
		content: "";
		display: block;
		width: 6px;
		height: 6px;
		background-color: currentColor;
		border-radius: 50%;
		margin-right: 8px;
	}
}

.match-tournament {
	display: flex;
	align-items: center;
	font-weight: 600;
	img {
		width: 20px;
		margin-right: 12px;
	}
}

.match-actions {
	display: flex;
	margin-left: auto;
}

.btn-icon {
	border: 0;
	background-color: transparent;
	color: var(--color-text-icon);
	display: flex;
	align-items: center;
	justify-content: center;
}

.match-content {
	display: flex;
	position: relative;
}

.column {
	padding: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(100% / 3);
}

.team {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.team-logo {
	width: 100px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: var(--color-bg-primary);
	/* box-shadow: 0 4px 4px 0 rgba(#303030, 0.15),
		0 0 0 15px var(--color-bg-secondary); */
    outline: 10px solid #f3f5f9;
	/* img {
		width: 50px;
	} */
}

.team-name {
	text-align: center;
	margin-top: 24px;
	font-size: 20px;
	font-weight: 600;
}

.match-details {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.match-date, .match-referee {
	font-size: 14px;
	color: var(--color-text-secondary);
	strong {
		color: var(--color-text-primary);
	}
}

.match-score {
	margin-top: 12px;
	display: flex;
	align-items: center;
}

.match-score-number {
	font-size: 48px;
	font-weight: 600;
	line-height: 1;
	&--leading {
		color: var(--color-theme-primary);
	}
}

.match-score-divider {
	font-size: 28px;
	font-weight: 700;
	line-height: 1;
	color: var(--color-text-icon);
	margin-left: 10px;
	margin-right: 10px;
}

.match-time-lapsed {
	color: #DF9443;
	font-size: 14px;
	font-weight: 600;
	margin-top: 8px;
}

.match-referee {
	margin-top: 12px;
}

.match-bet-options {
	display: flex;
	margin-top: 8px;
	padding-bottom: 12px;
}

.match-bet-option {
	margin-left: 4px;
	margin-right: 4px;
	border: 1px solid var(--color-text-icon);
	background-color: #F9f9f9;
	border-radius: 2px;
	color: var(--color-text-secondary);
	font-size: 14px;
	font-weight: 600;
	padding: 4px 8px;
}

.match-bet-place {
	position: absolute;
	bottom: -16px;
	left: 50%;
	transform: translateX(-50%);
	border: 0;
	background-color: var(--color-theme-primary);
	border-radius: 6px;
	padding: 10px 48px;
	color: rgba(#fff, 0.9);
	font-size: 14px;
	box-shadow: 0 4px 8px 0 rgba(#303030, 0.25);
}

p {
    font-size: 150px;
    font-weight: bold;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  p.point {
    color: black;
  }
  
  p.icon {
    font-size: 100px;
  }

  p.title {
    color: white;
  }


  .glitch {
    text-transform: uppercase;
    position: relative;
    text-shadow: 0.05em 0 0 #ffffff, -0.03em -0.04em 0 #fb2d0d,
      0.025em 0.04em 0 #000000;
    animation: glitch 725ms infinite;
  }
/*   
  .glitch span {
    position: absolute;
    top: 0;
    left: 0;
  }
   */
  .glitch span:first-child {
    animation: glitch 500ms infinite;
    clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
    transform: translate(-0.04em, -0.03em);
    opacity: 0.75;
  }
  
  .glitch span:last-child {
    animation: glitch 375ms infinite;
    clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
    transform: translate(0.04em, 0.03em);
    opacity: 0.75;
  }
  
  @keyframes glitch {
    0% {
      /* color: black; */
      text-shadow: 0.05em 0 0 #ffffff, -0.03em -0.04em 0 #fb2d0d,
        0.025em 0.04em 0 #000000;
    }
    15% {
      text-shadow: 0.05em 0 0 #ffffff, -0.03em -0.04em 0 #fb2d0d,
        0.025em 0.04em 0 #000000;
    }
    16% {
      text-shadow: -0.05em -0.025em 0 #ffffff, 0.025em 0.035em 0 #fb2d0d,
        -0.05em -0.05em 0 #000000;
    }
    49% {
      text-shadow: -0.05em -0.025em 0 #ffffff, 0.025em 0.035em 0 #fb2d0d,
        -0.05em -0.05em 0 #000000;
    }
    50% {
      text-shadow: 0.05em 0.035em 0 #ffffff, 0.03em 0 0 #fb2d0d,
        0 -0.04em 0 #000000;
    }
    99% {
      text-shadow: 0.05em 0.035em 0 #ffffff, 0.03em 0 0 #fb2d0d,
        0 -0.04em 0 #000000;
    }
    100% {
      /* color: yellow; */
      text-shadow: -0.05em 0 0 #ffffff, -0.025em -0.04em 0 #fb2d0d,
        -0.04em -0.025em 0 #000000;
    }
  }
  